/*=================================
        MAIN-PAGE.HTML CSS START
===================================*/
:root {
  --bgGradient--: linear-gradient(45deg, #8309e7, #cb00ff);
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Comfortaa", cursive;
}
/* HEADER START */
#main-header,
footer {
  height: auto;
  background-color: black;
  color: white;
  width: 100%;
}
#main-header h1 {
  text-align: center;
  width: auto;
  font-size: x-large;
  padding: 10px;
  font-family: "Righteous", cursive;
  background-image: var(--bgGradient--);
  cursor: default;
}
/** MAGNIFYING GLASS START **/
#mag-container {
  position: absolute;
  width: 10%;
  padding: 20px;
}
#mag1 {
  height: 10px;
  width: 10px;
  position: relative;
  bottom: 5px;
  border-radius: 20px;
  border: solid white 3px;
}
#mag2 {
  height: 10px;
  width: 2px;
  background-color: white;
  transform: rotate(-45deg);
  position: relative;
  left: 15px;
  bottom: 10px;
}
/** MAGNIFYING GLASS END **/

/* Search Bar Start */

.search-bar {
  position: absolute;
  width: 15%;
  display: inline-block;
  left: 100px;
  top: 20px;
  font-size: 20px;
}

/* Search Bar End */
/* END HEADER */
/* BAND REFERENCE SECTION START */
#band-reference {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}
#band-name {
  padding: 20px;
}
#image {
  width: 60%;
}
/* BAND REFERENCE SECTION END */
/* BAND EVENT INFO SECTION START */
#event-info {
  text-align: center;
  font-weight: bold;
}
#band-bio {
  margin: 10px 10px;
  border-radius: 5px;
  text-align: left;
  background-color: rgba(241, 241, 241, 0.719);
  height: auto;
  padding: 10px;
}
/* BAND EVENT INFO SECTION END */
/* FOOTER START */
footer {
  height: 30px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
footer h2 {
  font-size: small;
  text-align: center;
  padding: 10px 0 0 0;
  width: 250px;
  color: #cb00ff;
  cursor: default;
}
/** ARROW BUTTON START **/
#arrow-container {
  width: auto;
}
#backToTop-boxOuter {
  height: 21px;
  width: 21px;
  top: 4px;
  left: 30px;
  background-image: var(--bgGradient--);
  position: relative;
  border-radius: 20px;
}
#backToTop-boxInner {
  height: 19px;
  width: 19px;
  top: 1px;
  left: 1.4px;
  background-color: black;
  position: absolute;
  border-radius: 20px;
}
footer a {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: x-large;
  text-decoration: none;
  color: #cb00ff;
  border-radius: 20px;
}
/** ARROW BUTTON END **/
/* FOOTER END */
@media screen and (min-width: 768px) {
  #container {
    display: flex;
  }
  #main-header h1 {
    font-size: xx-large;
  }
  #image {
    width: 30%;
  }
  #event-info {
    width: 60%;
  }
  #band-bio {
    width: 30%;
    float: right;
  }
  footer {
    display: flex;
  }
  #mag-container {
    margin-left: 50px;
    width: auto;
  }
  #mag-container:hover {
    transform: scale(120%);
    cursor: pointer;
  }
  #mag-container:active {
    transform: translateY(2px);
  }
  #mag1 {
    bottom: 0px;
  }
  #mag2 {
    bottom: 5px;
  }
  footer a:hover {
    animation-name: upBounce;
    animation-duration: 0.7s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes upBounce {
    from {
      transform: translateY(1px);
    }
    to {
      transform: translateY(-2px);
    }
  }
}
/*=================================
        INDEX.HMTL CSS START
===================================*/
#index-body {
  justify-content: center;
  text-align: center;
  background-image: url("/assets/images/pexels-josh-sorenson-154147.jpg");
  background-position: center;
  background-blend-mode: overlay;
  background-attachment: fixed;
  padding: 10px;
  background-repeat: no-repeat;
  background-color: rgba(54, 54, 54, 0.8);
  align-items: center;
}
form {
  display: block;
  background-color: rgb(243, 243, 243);
  height: auto;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
}
form h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #8309e7;
  font-family: "Righteous", cursive;
}
form p {
  margin: 20px 0;
}
#band {
  height: 2em;
  width: 80%;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
}
.submitBtn {
  width: 80%;
  padding: 0.5em 1.9em;
  margin: 5px 0 20px 0;
  background-image: var(--bgGradient--);
  color: white;
  font-family: "Righteous", cursive;
  border-radius: 5px;
}
.submitBtn:active {
    transform: translateY(2px);
}
.tix-link a:hover {
    color: #cb00ff;
}
.tix-link a:active {
    transform: translateY(2px);
}

/* Rotating Panorama */

img {
  position: absolute;
}

div {
  position: relative;

}